$primary-color: #FFE500;
$text-color: #333333;
$light-gray: #f5f5f5;
$medium-gray: #999999;
$dark-gray: #666666;
$white: #FFFFFF;
$red: #EC7063;
$green: #ABEBC6;
$black: #000000;


$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;